@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1 text-center">Welcome to Evan's Pet Store</h1>

<p class="text-center">Here we sell both pets and a variety of pet products.</p>

<!--If properly implemented, the toys, food,
and products buttons would lead to the catalog page
with only products in that category displayed-->
<div class="card">
    <img src="https://media.gettyimages.com/id/1184184060/photo/cute-happy-dog-playing-with-a-stick.jpg?s=612x612&w=gi&k=20&c=13u3zhpxLm4OXoPn0roYfxnLer8iCrgJdWsXjImWCLg=" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Adoption</h5>
        <p class="card-text">Adopt adorable animals like Suzy here</p>
        <a href="#" class="btn btn-primary disabled">Pets Page</a>
    </div>
</div>
<div class="card">
    <img src="https://media.gettyimages.com/id/1184184060/photo/cute-happy-dog-playing-with-a-stick.jpg?s=612x612&w=gi&k=20&c=13u3zhpxLm4OXoPn0roYfxnLer8iCrgJdWsXjImWCLg=" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Toys</h5>
        <p class="card-text">Buy toys that animals love, like the stick that Suzy is playing with</p>
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Toys</a>
    </div>
</div>
<div class="card">
    <img src="https://media.gettyimages.com/id/1184184060/photo/cute-happy-dog-playing-with-a-stick.jpg?s=612x612&w=gi&k=20&c=13u3zhpxLm4OXoPn0roYfxnLer8iCrgJdWsXjImWCLg=" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Food</h5>
        <p class="card-text">Buy the food that keeps animals like Suzy happy and healthy</p>
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Food</a>
    </div>
</div>
<div class="card">
    <img src="https://media.gettyimages.com/id/1184184060/photo/cute-happy-dog-playing-with-a-stick.jpg?s=612x612&w=gi&k=20&c=13u3zhpxLm4OXoPn0roYfxnLer8iCrgJdWsXjImWCLg=" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text">There are plenty of other products essential to keeping Suzy and other animals happy, healthy, and well groomed</p>
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Other Products</a>
    </div>
</div>